<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FASTER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FASTER.Properties.Settings>
            <setting name="serverPath" serializeAs="String">
                <value />
            </setting>
            <setting name="steamCMDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="modStagingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="steamUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="steamPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkForAppUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clearSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setupRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverBranch" serializeAs="String">
                <value>Stable</value>
            </setting>
            <setting name="excludeServerFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkForModUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Dark.Blue</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="CliWorkers" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="usingPerfBinaries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingContactDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingGMDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingPFDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingCSLADlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingWSDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingSPEDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingRFDlc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usingEFDlc" serializeAs="String">
                <value>False</value>
            </setting>
        </FASTER.Properties.Settings>
    </userSettings>
</configuration>
