<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FAST2.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FAST2.MySettings>
            <setting name="isDark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setupRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="primaryColour" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="accentColour" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="serverBranch" serializeAs="String">
                <value>Stable</value>
            </setting>
            <setting name="excludeServerFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkForModUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </FAST2.MySettings>
    </userSettings>
</configuration>