pkgbase = faster-arma-git
	pkgdesc = Arma 3 server and Workshop mod manager (development version)
	pkgver = 1.9.8.r0.g8e51e2e
	pkgrel = 1
	url = https://github.com/Foxlider/FASTER
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = dotnet-sdk>=10.0
	depends = glibc
	depends = gcc-libs
	depends = icu
	depends = openssl
	depends = zlib
	depends = fontconfig
	depends = freetype2
	depends = libx11
	depends = libice
	depends = libsm
	depends = libxrandr
	depends = libxi
	depends = libxcursor
	depends = libglvnd
	depends = xdg-utils
	optdepends = ttf-dejavu: fallback UI font
	provides = faster-arma
	conflicts = faster-arma
	conflicts = faster-arma-bin
	options = !strip
	options = !debug
	source = FASTER::git+https://github.com/milutinke/FASTER.git#branch=feat/avalonia-spike
	source = BytexDigital.Steam::git+https://github.com/milutinke/BytexDigital.Steam.git
	source = faster-arma.desktop
	source = faster-arma.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = e7daddb150c22da0e0321e81af1f9062e76d62f0a40eadfb7b6726989886fc30
	sha256sums = 6b15841b7eaaeec9c4af96545fc2e045ad7a058ed612df13ee2e70d08c0a53a2

pkgname = faster-arma-git
